*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 17px;
    color: #131313;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 70px;
}

.menu__list {
    display: flex;
}

.menu__item+.menu__item {
    margin-left: 32px;
}

.menu__link {
    text-transform: uppercase;
    padding: 42px 20px;
    transition: .2s all;
}

.menu__link:hover {
    background-color: #131313;
    color: #fff;
}


.bike {
    padding-top: 100px;
}


.bike__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.bike__column {}

.bike__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #131313;
    margin: 60px 0 5px;
}

.bike__subtitle {
    margin: 0 0 60px;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
    color: #6F6F6F;
}

.bike__text {
    margin-bottom: 20px;
    max-width: 420px;
}

.bike__link {
    margin-top: 80px;
    display: block;
    background-color: #131313;
    color: #fff;
    padding: 28px 80px;
    text-transform: uppercase;
    transition: 0.3s all;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.1em;
}

.bike__link:hover {
    background-color: #ff4040;
}

.bike__column_slider {}

.bike-slider {
    flex-basis: 630px;
    max-width: 630px;

}

.bike-slider__item {}

.bike-slider__img {}

.bike-list {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.bike-list__item {
    font-weight: 700;
    text-transform: uppercase;
    max-width: 160px;
    text-align: center;
}

.bike-list__item span {
    display: block;
    font-weight: 400;
    margin-top: 13px;
    text-transform: lowercase;
    font-size: 12px;
    line-height: 15px;
}


.bike-slider .slick-dots {
    right: 0;

}

.slick-dots {
    position: absolute;
    top: 50px;
}


.slick-dots li+li {
    padding-top: 10px;
}

.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    transition: 0.3s all;
    cursor: pointer;
    height: 25px;
}

.slick-active button,
.slick-dots button:hover {
    background-color: #ff4040;
}


.info {
    padding-top: 150px;
}

.info__inner {
    display: flex;
}

.info__img {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
    max-width: 570px;
}

.info-list {
    flex-basis: 490px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.info-list__item+.info-list__item {
    margin-top: 50px;
}

.info-list__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.info-list__text {
    max-width: 450px;
    margin: 0;
}


.specifications {
    padding-top: 150px;
}

.specifications__main-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.specifications__title {
    font-weight: 700;
    padding: 2px 0 3px;
    line-height: 17px;
    background-color: #131313;
    color: #fff;
    text-transform: uppercase;
}

.specifications__inner {
    display: flex;
    column-gap: 60px;
}

.specifications__items {
    flex-basis: 570px;
}

.specifications__list+.specifications__list {
    padding-top: 30px;
}

.specifications__line {
    display: flex;
    padding-top: 5px;
}

.specifications__name {
    flex-basis: 255px;
    padding-right: 25px;
}

.specifications__descr {
    flex-basis: 285px;
}

.specifications__img {
    align-self: center;
}

.slider {
    padding-top: 150px;
}


.slider__items .slick-dots {
    top: 0;
    left: 0;
}

.slider__item {
    padding-left: 50px;
}


.price {
    padding-top: 50px;
}

.price__inner {}

.form {
    max-width: 420px;
}

.form__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.form__text {
    max-width: 300px;
    margin-bottom: 30px;
}

.form__choose {
    margin-bottom: 10px;
}

.form__name,
.form__phone {
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    margin-bottom: 20px;
    padding-bottom: 10px;
    outline: none;
}


.form__name::placeholder,
.form__phone::placeholder,
.form__choose {
    color: #6F6F6F;
    opacity: 0.5;
}

.form__box {

}

.form__label {}

.form__radio {}

.form__bike {
    display: none;
}

.form__img {}

.form__price {}

.form__style {}

.form__style_white {}

.form__style_gray {}

.form__style_red {}